{% extends 'base.html' %}

{% block header %}Wikidata CSV Loading Tool{% endblock header %}
{% block side_content %}
	<div id="tree_buttons">
		<form id="new_file_form" action="/new_file"
			  method="post"
			  enctype="multipart/form-data">
			<input type="file" id="file_opener" name="new_file" accept=".csv" oninput="checkSelect()"/>
			<input type="submit" id="upload_btn"  class="btn" value="Upload">
		</form>

		<form id="load_form" action="/load_file" method="post">
			<input type="text" id="file_to_load" name="file_to_load">
			<input type="text" id="node_id" name="node_id">
			<input type="submit" id="load_btn" value="Load File">
		</form>
		<button id="open_btn"
				title="Add a csv file for processing"
				onclick="openFileDialog()">import...</button>
	</div>

	<div id="tree_wrapper">
		<div id="the_tree" ></div>
	</div>
	<script>
		const tree = {{ tree_data }};
		let sel_json = {{ select_json }};
		let selected_node = sel_json["selected"];
		let n_json = {{ node_json }};
		let node_id = n_json["node_id"]
		let node, dat;
		let  block_cascade = false;

		$('#the_tree')
				.on('ready.jstree', function (e, data){
					selectReloadedNode();
				})
				.on('select_node.jstree', function (e, data) {
					let f = $('#load_form');
					node = data.instance.get_node(data.selected[0]);
					dat = data.instance.get_node(data.selected[0]).text;
					if (dat.includes('.csv')) {
						$('#file_to_load').val(dat);
						$('#node_id').val(node.id);
						if (block_cascade === true) {
							block_cascade = false;
						} else {
							//save changes if form data has been edited. See grid.cellValueChanged()
							if (okToNavigate) {
								if (isDirty) {
									writeGridData();
									isDirty = false;
									f.submit();
								} else {
									f.submit();
								}
							} else {
								alert("Press Stop Editing before opening another file.");
								deselectNode(node.id)
								selectReloadedNode();
							}
						}
					} else {
						$('#file_to_load').val('');
						$('#node_id').val('');
					}
				})
				.jstree({
					'core' : {
						"themes" : { "stripes" : true },
						'data' : [
							{
								"text" : "Files",
								"icon" : "jstree-folder",
								"children" : tree
							}
						]
					}
				})

	function selectReloadedNode() {
		if (node_id !== "None") {
			block_cascade = true;
			$('#the_tree').jstree('select_node', node_id);
		}
	}
	function deselectNode(the_node) {
		$('#the_tree').jstree('deselect_node', the_node);
	}

	</script>

{% endblock side_content %}

{% block main_content %}
	<div id="col_editor">
		<button id='col_ed_btn' class='btn' onclick="updateColumns()">save</button>
		<span class="close">&times;</span>
		<br><br>
		<div>EDIT COLUMN PROPERTIES</div>
		<br>
	</div>

	<div id="err_msg">{{ err_msg }}</div>
	<span id="current_file"> {{ current_file }} </span>

	<div id="process_menu">
		<ul class="no-bullets">
			<li id="step1" class="menu_item" onclick="addOutputColumns()">Step 1 - add output columns</li>
			<li id="step2" class="menu_item">Step 2 - reconcile data</li>
			<li id="step3" class="menu_item">Step 3 - add new entities</li>
			<li id="step4" class="menu_item">Step 4 - upload items</li>
		</ul>
	</div>

	<button class="btn" id="menu_btn" onclick="hideShowMenu()">menu</button>
	<button class='btn' id="edit_btn" onclick="manageEdits()">Start Editing</button>
	<button class='btn' id="header_btn" onclick="loadEditor()">Column Properties</button>

	<div id="grid_wrapper">
		<div id="myGrid" class="ag-theme-quartz"></div>
	</div>
	<script>
		// Grid API: Access to Grid API methods
		let gridApi;
		let header_json = {{ header_data }};
		let outputs = {{ outputs_added }};
		let meta_json = {{ metadata }};
		let num_cols = {{ num_columns }};
		// Grid Options: Contains all grid configurations
		if (selected_node !== 'None') {
			const gridOptions = {
			  defaultColDef: {
				filter: true,
				editable: true
			  },
			  pagination: true,
			  //editType: 'fullRow',
				suppressClickEdit: true,
				rowData: {{ row_data }},
			  // Column Definitions: Defines & controls grid columns.
			  columnDefs: {{ header_data }},
			onCellValueChanged: cellValueChanged,
			onCellEditingStopped: cellEditingStopped,
			}

			// Create Grid: Create new grid within the #myGrid div, using the Grid Options object
			gridApi = agGrid.createGrid(document.querySelector('#myGrid'), gridOptions);
		}

	</script>
{% endblock main_content %}
