<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;700&amp;display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="{{url_for('static', filename='internal/stylin.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;700&amp;display=swap" rel="stylesheet"/>
    <link type="text/css" rel="stylesheet" href="static/external/style.min.css" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="static/external/jstree.min.js"></script>
    <script type="text/javascript" src="static/internal/grid.js"></script>
    <script type="text/javascript" src="static/internal/page_controls.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/ag-grid-community@31.0.1/dist/ag-grid-community.min.js"></script>
    <script>const __basePath = './';</script>

    <title>{% block title%}WIKIDATA LOADER{%endblock title%}</title>
    {% block add %}{% endblock add %}
</head>
<body>
<!-- {% include '_nav.html' %} -->
<h1>{% block header %}This is the default header{% endblock header %}</h1>
<div class="wrapper">
    <div class="page_side">
        {% block side_content %}

        {% endblock side_content%}
    </div>

    <div class="page_main">
        {% block main_content %}

        {% endblock main_content%}

    </div>

</div>

{% block content %}
{% endblock content %}
</body>
</html>